<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="Pragma" content="no-cache" />
<!DOCTYPE html>
<head>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='StyleSheet.css') }}" />

<title>Analyse The News</title>
</head>
<body>

<div class="header">
  <a href="#default" class="logo">Analyse The Newspaper Headlines With Flask And Matplot Lib</a>
  <div class="header-right">
    <a class="active" href="/database">Want to view all database records click here!</a>
  </div>
</div>





<iframe id="inlineFrameExample"
    title="Inline Frame Example"
    style="width:100%"
    height="600"
    src="http://127.0.0.1:5000/plot">
</iframe>





<div>
<form method="POST">

    <b>Search the news for a keyword of your choice</b><br>

    <input name="text" type="text">
    <input class="button" type="submit">

</form>
</div>

<center>
<table class="styled-table">
<tr>
<th>NEWSPAPER HEADLINES</th>
</tr>
{% for item in list %}
<tr class="active-row">
<td>{{item}}</td>
</tr>
{% endfor %}
</table>
</center>

How this works<br>

1. We search a news api <a href="https://newsapi.org">https://newsapi.org</a><br>
2. We save every article title to a remote MySQL database (hosted at <a href="https://www.freemysqlhosting.net">https://www.freemysqlhosting.net/</a>) and Spreadsheet  <p>{{filelocation}}</p> <br>
3. We analyse the articles and count the words<br>
4. We strip out the common words<br>
5. We do a graph<br>



</body>



</body>
</html>





